<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />

<link  rel="stylesheet" href="css/style.css"/>
<link  rel="stylesheet" href="css/jquery-ui.css"/>
<link  rel="stylesheet" href="css/jquery-ui.structure.css"/>
<link  rel="stylesheet" href="css/jquery-ui.theme.css"/>

<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/script.js"></script>

</head>

<body>

{%import 'form.html' as form%}

<p>
	{{form.input('login','text','world',50)}}
</p>
<p>
	{{form.input('pass','password')}}
</p>
{%if variable is constant('CONST') %}
{{variable}}
{%endif%}
	<div class="wrap">
		
		<div class='header'>
		</div>
		
		<div class="menu">
			{%include 'main_menu.html'%}
		</div>
		
		
		<div class='content'>
		
{{new|url_encode}}
	
	
	
			{%include 'main_text.html'%}
			
		</div>
		
		<div class='footer'>
			
			<p style='text-align:right;font_size:5px; color:white;margin:10px;'>{{site_name}}</p>
		</div>
	</div>
</body>
</html>